@import "../../data/style.css";

.homepage-logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 130px;
}

.homepage-container {
    padding-top: 25px;
}

.homepage-first-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.testing {
    display: flex;
    width: 100%;
}
.blocks {
    width: 100%;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    gap: 1;
}
.block:hover .block__description {
    opacity: 0.8;
    transform: translateY(0);
}
.block {
    /* width: 33%; */
    width: 100%;
    height: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    opacity: 0.8;
    margin: 0.2em;
    outline: 6px solid white;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}
.info {
    margin-bottom: 2em;
}
.block > img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.block__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    /* new axis from block to flex and move to middle */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.4s ease-in;
    color: white;
}
.hrline {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 16px;
}

.homepage-first-area-left-side {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.homepage-title {
    width: 85% !important;
}
.left-side-title-right {
}

.cards {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}
.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
}

.homepage-greeting {
    font-size: 35px;
    background: linear-gradient(60deg, #8456ec 24.2%, #e87bf8 120.46%);
    background-clip: text;
    color: transparent;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.75);
}
.homepage-subtitle {
    width: 85% !important;
    /* background-color: rgb(17,17,17); */
}

.homepage-first-area-right-side {
    display: flex;
    align-items: center;
}

.homepage-image-container {
    width: 370px;
    height: 370px;
}

.homepage-image-wrapper {
    overflow: hidden;
    border-radius: 10%;
    transform: rotate(3deg);
}

.homepage-image-wrapper img {
    width: 100%;
}

.homepage-socials {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 30px;
}

.homepage-social-icon {
    padding-right: 20px;
    font-size: 25px;
    transition: color 0.2s ease-in-out;
    color: var(--secondary-color);
}

.homepage-social-icon:hover {
    color: var(--primary-color);
}

.homepage-after-title {
    /* display: flex; */
}

.homepage-projects {
    flex-basis: 300px;
}

.homepage-articles {
    flex-basis: 900px;
    padding-top: 30px;
    margin-left: -30px;
}

.homepage-article {
    padding-bottom: 5px;
}

.homepage-works {
    flex-basis: 600px;
    padding-top: 30px;
}

.divider {
    display: flex;
    max-width: 100%;
    margin-top: 2em;
}
.divider-title {
    font-weight: 800;
}
.divider-line {
    display: flex;
}

@media (max-width: 1024px) {
    .homepage-first-area {
        flex-direction: column;
    }

    .homepage-first-area-left-side {
        display: flex;
        flex-direction: column; /* Changed: set direction to column */
        align-items: flex-start;
        width: 100%;
        order: 2;
    }

    .homepage-title {
        width: 100% !important;
        margin-top: 20px;
        order: 2;
    }

    .homepage-subtitle {
        width: 100% !important;
        margin-top: 10px;
        order: 3;
    }

    .homepage-first-area-right-side {
        width: 100%;
        order: 1;
    }

    .homepage-image-container {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 10px;
        order: 1;
    }

    .homepage-after-title {
        flex-direction: column;
    }

    .homepage-projects {
        flex-basis: auto;
    }

    .homepage-articles {
        flex-basis: auto;
    }

    .homepage-works {
        flex-basis: auto;
        margin-left: -25px;
        margin-right: -25px;
    }
}
@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
